<h3>Описание проекта </h3>

<p> Проект позволяет создавать команды для совместного использования документов</p>
<p> В качестве тестовой карты можно использовать 4242 4242 4242 4242 ( cvv = любые 3 цифры, дата = любая, больше текущей)</p>
<br/>
<p>Функционал:</p>
<ul>
  Создание пользователя:
    <li> - регистрация с подтверждением на email ( в тестовом варианте письма уходят на MailTrap) </li>
    <li> - привязана оплата по карте через Stripe (работает в тестовом режиме) </li>
    <li> - Создал команду = стал Админом ( можно приглашать по email участников, создавать проекты, редактировать команду в каждом проекте) </li>
    <li> - можно добавить вложения ( хранение реализовано на Amazon S3) </li>
</ul>

<p>Ипользованно</p>
<ul>
  <li>Bootstrap 4.0 + Devise + Milia </li>
    <li>оплата через Stripe </li>
    <li>Почта через SendMailer</li>
    <li>хранение файлов Amazon S3</li>
    <li>Множественные пересечения в БД Postgres *-1, *-*, 1-1</li>
</ul>

